:root {
    --branco-principal: #f7f7f7;
    --cinza-secundario: #070707;
    --botao-azul: #031546;
    --cor-de-fundo: #e3e6ee;
}
.corpo{
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
background-color: black;
background-image: url(disney-plus-1400x825.jpg);
background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}
.principal {
  
    background-repeat:no-repeat ;
    background-size:auto;
    display:inline-block;
    
}

.fotoprincipal{

width: 2000px;

}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}
