:root {
    --branco-principal: #f7f7f7;
    --cinza-secundario: #070707;
    --botao-azul: #031546;
    --cor-de-fundo: #e3e6ee;
    --fonte-principal: 'Inter';
}
.corpo{
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
background-color: black;
background-image: url(disney-plus-streaming-service-showcasing-popular-content-and-characters-z4ihs4vo4ho3v0r0.jpg);
background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.principal {
  
    background-repeat:no-repeat ;
    background-size:auto;
    display:inline-block;
    
}

.fotoprincipal{

width: 2000px;

}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}
 
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.container__imagem {
    margin: 1em 0 2em 0;
}
