:root {
    --branco-principal: #5634f1;
    --cinza-secundario: #574de4;
    --botao-azul: #167BF7;
    --cor-de-fundo: #e3e6ee;
}
body {
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
}
* {
    margin: 0;
    padding: 0;
}
